<% if logged_in? %>
    <%  @lobbychat = @current_user.lobbychats.new %>
  <% end %>

<div id="lobby">
  <div id='lobbychats'>
      <div id="lobbyheader">Lobby</div>
      <div id="lobbylist" class="chatlist lobbychatlist">
<% @lobbychats.each do |chat| %>
<div class="chat" style="color:#<%= chat.user.profile.color %>"><strong><%= link_to chat.user.profile.username, user_path(chat.user), style: "color:#" + chat.user.profile.color + ";" %>: </strong><%= chat.body %></div>
<% end %>
</div>
</div>

<div id="lobbyform">
  <% if logged_in? %>
    <%= form_for(@lobbychat, remote: true ) do |f| %>
    <%# f.hidden_field :user_id, value: @current_user.id %>
    <%= f.text_field :body %>
    <%= f.button :submit do %>
    Send &#9166
    <% end %>
  <% end %>

<% else %>
<span style="color:white">You must be logged in to chat.</span>
<% end %>
</div>
</div>

<!-- <script>
  dragElement(document.getElementById("lobby"));
  </script> -->
