<% if logged_in? %>
  <div class="box cardsuits">

      <%= render 'notifications/send' %>
  <h2>Notifications</h2>
  <div class="pagination-wrapper">
  <div class="digg_pagination">
      <%= will_paginate @notifications, :container => false %>
    </div>
    </div>
<ul>
<% @notifications.each do |note| %>

  <% if note.game == 'tictactoe' %>
    <li>
    <%= link_to User.find_by(id: note.sender_id).profile.username, user_path(User.find_by(id: note.sender_id)) %> started <%= link_to "a game of tic-tac-toe with you", tictacto_path(note.game_id) %>.
    <% @note = note %>
    <%= render 'notifications/timestamp' %>
    </li>

    <% elsif note.game == 'friend_sent' %>
      <li>
      <%= link_to User.find_by(id: note.sender_id).profile.username, user_path(User.find_by(id: note.sender_id)) %> sent you a friend request.
      <% if Friend.find_by(id: note.game_id).accepted == false %>
      <% @user = User.find_by(id: note.sender_id) %>
          <%= render "friends/accept" %> ?
          <% end %>
      <% @note = note %>
      <%= render 'notifications/timestamp' %>
      </li>

      <% elsif note.game == 'friend_accepted' %>
        <li>
        <%= link_to User.find_by(id: note.sender_id).profile.username, user_path(User.find_by(id: note.sender_id)) %> accepted your friend request.
        <% @note = note %>
        <%= render 'notifications/timestamp' %>
        </li>

        <% elsif note.game == 'message' %>
          <li>
          <%= link_to User.find_by(id: note.sender_id).profile.username, user_path(User.find_by(id: note.sender_id)) %> sent you a message
<% if note.points > 0 %>
and <%= note.points %>  <i class='fas fa-coins gold'></i>
<% end %>
          <% @note = note %>
          <%= render 'notifications/timestamp' %>
          <div class='notebody'>
<%= simple_format(note.body) %>
          </div>

          </li>

  <% end %>

<% end %>

</ul>
<div class="pagination-wrapper">
<div class="digg_pagination">
    <%= will_paginate @notifications, :container => false %>
  </div>
  </div>
  </div>
<% end %>
