<div class="editprofile">
<h1>Edit your profile</h1>
<%= form_for([@user, @user.profile]) do |f| %>
  <%= f.text_field :username %><br>
<%= f.hidden_field :time_zone, value: nil, required: true%>
Change chat text color<br>
<%= f.text_field :color, required: true %><br>
  <%= f.submit 'Edit' %>
<% end %>
</div>
