<div id="editprofile" class="box">
<h2>Edit your profile</h2>
<%= form_for([@user, @user.profile]) do |f| %>
Change display name <br>
  <%= f.text_field :username %><br>
Change chat text color
<%= f.text_field :color, required: true, class: 'jscolor {mode:"HVS",position:"right"}' %><br>
<%= f.hidden_field :online_at, value: DateTime.now %>
  <%= f.submit 'Edit' %>
<% end %>
</div>
