<div class="box">
  <h2><%= @user.profile.username %>'s profile</h2>
<ul>
  <li>
  Account created <%= @user.created_at.strftime("%B %-d, %Y") %>
  </li>

  <li>
<%= @user.points %> <i class="fas fa-coins"></i>
</li>

</ul>
<p><%= simple_format(@user.profile.desc, {}, sanitize: false) %> </p>
<% if logged_in? %>
<% if @user != @current_user %>
  <% if Friend.where('user_id = ? AND recipient_id = ?', @current_user.id, @user.id).first == nil && Friend.where('user_id = ? AND recipient_id = ?', @user.id, @current_user.id).first == nil  %>
    <%= render "friends/add" %>
  <% else %>
    <% if Friend.where('user_id = ? AND recipient_id = ?', @current_user.id, @user.id).first != nil %>
    <% @request = Friend.where('user_id = ? AND recipient_id = ?', @current_user.id, @user.id).first %>
      <% if @request.accepted == false %>
        You sent this user a friend request.
      <% else %>
        You are friends with this user.
      <% end %>
    <% elsif Friend.where('user_id = ? AND recipient_id = ?', @user.id, @current_user.id).first != nil %>
    <% @request = Friend.where('user_id = ? AND recipient_id = ?', @user.id, @current_user.id).first %>
    <% if @request.accepted == false %>
      This user sent you a friend request.
        <%= render "friends/accept" %>
    <% else %>
      You are friends with this user.
    <% end %>
    <% end %>
  <% end %>
    <% end %>
  <% end %><p>Friends:
    <% if @friends != nil %>
<% @friends.each do |friend| %>
  <% @friend = User.find_by(id: friend.recipient_id) %>
      <%= link_to @friend.profile.username, user_path(@friend) %>
      <% end %>
      <% end %>
    </p>

    <h2>Inventory</h2>

  <div class="inventory-container">
  <% @user.items.each do |item| %>
  <div class="inventory_item">
    <h3><%= item.name %></h3>
    <%= image_tag("items/#{item.image}") %><br>
  </div>
  <% end %>
  </div>

</div>

<% if logged_in? %>
<% if @user == @current_user %>
  <%= render "users/edit_profile" %>
    <% end %>
    <% end %>
          <%= render "lobbychats/lobby" %>
