  <% if logged_in? %>
  <div class="box">
    <h2>Play Tic Tac Toe</h2>
    <ul>
    <li><div class="inlineButton">
    <%= render 'tictactoes/new' %></div></li>
    <li><div class="inlineButton">
    <%= render 'tictactoes/new_choose' %></div></li>
    </ul><% if @tictactoes.first != nil %><br>
    </div>
    <% end %>

    <div class="box cardsuits">

<h3>Play and watch ongoing games</h3>
<div class="pagination-wrapper">
<div class="digg_pagination">
    <%= will_paginate @tictactoes, :container => false %>
  </div>
  </div>


    <div class="minitic">

  <% @tictactoes.each do |tic| %>

  <% @user_x = User.find_by(id: tic.x_id) %>
  <% @user_o = User.find_by(id: tic.o_id) %>
  <% @linktext = "Watch" %>
    <% if logged_in? %>
      <% if @current_user == @user_x || @current_user == @user_o %>
      <% @linktext = "Play" %>
      <% end %>
    <% end %>
    <div class="miniticContainer">
    <div class="miniticgrid">
      <% @grid.each do |coords| %>
        <div id="<%= coords %>_<%= tic.id %>">
          <% if tic.send("#{coords}") != nil %>
            <%= tic.send("#{coords}") %>
          <% end %>
        </div>
        <% end %>

  </div>
  <%= link_to tictacto_path(tic) do %>
  <%= @user_x.profile.username %> vs <%= @user_o.profile.username %>
  <br>
<%= @linktext %>
  <% end %>

    </div>


<% end %>


</div>





<div class="pagination-wrapper">
<div class="digg_pagination">
    <%= will_paginate @tictactoes, :container => false %>
  </div>
  </div>
</div>
<% end %>
<%= render "lobbychats/lobby" %>
