<div class="box bg">
<div id="tictactoe" class="box">

  <div id="tictactoegrid">
    <% @grid.each do |coords| %>
    <div class="tic" id="<%= coords %>_<%= @gameid %>">
      <% if @tictactoe.send("#{coords}") != nil %>
        <%= @tictactoe.send("#{coords}") %>
      <% else %>
            <% if logged_in? && @current_user_status != "spectator" %>
        <%= form_tag('/tictactoes/' + @tictactoe.id.to_s + '/play/', method: 'get', remote: true ) do %>
        <%= hidden_field_tag :co, coords %>
        <%= button_tag :submit do %>
          Play <%= @current_user_mark.upcase %>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  </div>
  <div id="ticinfo">
  <div class="tict tictactoeTurn" id="ticturn_<%= @gameid %>">It's <%= @turn_user.profile.username %>'s turn.</div>
  <div class="tict tictactoeMessage" id="ticmessage_<%= @gameid %>">  <%= flash[:tictactoe].html_safe unless flash[:tictactoe].blank? %></div>
  <div class="tict tictactoeReload" id="ticreload_<%= @gameid %>"></div>
  <div class="winschart">
    <div>  <%= link_to @user_x.profile.username, user_path(@user_x) %> (X)
</div><div><%= link_to @user_o.profile.username, user_path(@user_o)%> (O)</div>
<div><span id="x_wincount_<%= @gameid %>"><%= @tictactoe.x_wins %></span> wins</div>
    <div> <span id="o_wincount_<%= @gameid %>"><%= @tictactoe.o_wins %></span> wins</div>
    </div>

  <% if logged_in? %>
    <% if @current_user == @user_x %>
    You are playing as X
    <% elsif @current_user== @user_o %>
    You are playing as O
    <% end %>
  <% end %>
  <% if @current_user_status == "spectator" %>
  You are a spectator in this game.
  <% end %>
</div>
</div>
      <%= render "lobbychats/lobby" %>
      <%= render "gamechats/gamechat" %>
