
   <div class="box cardsuits" id="games">
     <uL>
     <li><%= link_to "Slot Machine", games_slots_path %></li>
    <li><%= link_to "Tic Tac Toe", tictactoes_path %></li>
        <li><%= link_to "Pictionary (under construction)", games_pictionary_path %></li>
                <li><%= link_to "Checkers (under construction)", checkers_path %></li>
            <!-- <li><%# link_to "Blackjack", games_blackjack_path %></li> -->
     </ul>
</div>
  <%= render "lobbychats/lobby" %>
