
<div class="box hello">
<% if logged_in? %>

Hello <%= @current_user.profile.username %>
<ul>
  <li><div class="inlineButton">
<%= link_to "Play slot machine", games_slots_path %></div></li>
<li><div class="inlineButton">
<%= render 'tictactoes/new' %></div></li>
<li><div class="inlineButton">
<%= render 'tictactoes/new_choose' %></div></li>
<li><%= link_to mine_path do %>
  Test the mine (under construction, no points)<br>
<%= image_tag("minelogo.png", title: "Enter the mine" ) %>
<br>Current status:
<br>Multiplayer online building is live!
<i>
<br>Items in inventory do not save yet and are generated on load.
<br>New players do not show up when they come online without reload.
<br>Some bugs with player movement and interaction with ladders and platforms.</i>
<% end %>
</li>
</ul>

<% end %>
<p>Welcome to Crepuscular Games.</p>
<p>This is a Rails web app that uses ActionCable to display live game data for simple chat room games. I will be building on this site and adding more games and features in the future.</p>
<p>Please contact me at mwissig@gmail.com (or through Facebook, etc.) if you have any problems with the site.</p>
</div>
<% if logged_in? %>
<div class="box cardsuits">

  <h3>Your Tic Tac Toe Games</h3>
  <div class="microtic">

<% @my_tictactoes.each do |tic| %>
<%= link_to tictacto_path(tic) do %>
<% @user_x = User.find_by(id: tic.x_id) %>
<% @user_o = User.find_by(id: tic.o_id) %>
<% if tic.turn == 'x' %>
  <% @turn = @user_x %>
<% elsif tic.turn == 'o' %>
 <% @turn = @user_o %>
 <% end %>
 <% if @turn == @current_user %>
  <div class="microticContainer yourturn">
    <% else %>
      <div class="microticContainer">
        <% end %>
  <div class="microticgrid">
    <% @grid.each do |coords| %>

<% if @turn == @current_user %>
<div class="yourturn">
      <% else %>
      <div id="<%= coords %>_<%= tic.id %>">
        <% end %>
        <% if tic.send("#{coords}") != nil %>
          <%= tic.send("#{coords}") %>
        <% end %>
      </div>
      <% end %>

</div>

<span class="opponentname">
  <% if @user_x != @current_user %>
    <%= @user_x.profile.username %>
  <% elsif @user_o != @current_user %>
    <%= @user_o.profile.username %>
    <% end %>
    </span>
<br>
<% if @turn == @current_user %>
<span class="yourturn">Your turn</span>
<% else %>
<%= @turn.profile.username %> 's turn
<% end %>
<% end %>

      </div>
<% end %>
      </div>
      </div>
<% end %>
<%if !logged_in? %>

<div class="box cardsuits">
  <h3>Log in to Explore the Mine</h3>
    <div class="minelinkbox minecontainer wait" id="mapbox">
      <div class="minelink">

<% @minelinktiles.each do |tile| %>
        <% if tile.bgclass != nil %>
          <% @type = tile.bgclass %>
        <% else %>
        <% @type = "" %>
        <% end %>

        <% if tile.fgclass != nil %>
          <% @object = tile.fgclass %>
        <% else %>
        <% @object = "" %>
        <% end %>


                            <div id="<%= tile.coords %>_background" class="minesquare <%= @type %>">
                              <div id="<%= tile.coords %>_foreground" class="<%= @object %>" onClick="select_box(this.id)"></div>
                            </div>
                          <% end %>
      </div>
    </div>
</div>
<div class="box cardsuits">

  <h3>Recently Updated Tic Tac Toe Games</h3>
    <div class="microtic slide">

  <% @recent_tictactoes.each do |tic| %>

  <% @user_x = User.find_by(id: tic.x_id) %>
  <% @user_o = User.find_by(id: tic.o_id) %>
  <% @linktext = "Watch" %>
    <% if logged_in? %>
      <% if @current_user == @user_x || @current_user == @user_o %>
      <% @linktext = "Play" %>
      <% end %>
    <% end %>
    <div class="microticContainer">
    <div class="microticgrid">
      <% @grid.each do |coords| %>
        <div id="<%= coords %>_<%= tic.id %>">
          <% if tic.send("#{coords}") != nil %>
            <%= tic.send("#{coords}") %>
          <% end %>
        </div>
        <% end %>

  </div>
  <%= link_to tictacto_path(tic) do %>
  <%= @user_x.profile.username %> vs <%= @user_o.profile.username %>
  <br>
<%= @linktext %>
  <% end %>

    </div>


<% end %>


</div>
<div class='floatright'><%= link_to "More...", tictactoes_path %></div>
</div>
<div class="box cardsuits">
  <h3>Log in to adopt pets and collect items</h3>
  <div class="pets">
   <%= image_tag("items/wood.png") %><%= image_tag("items/jerboa.png") %>  <%= image_tag("items/pickaxe_diamond.png") %>
</div>
</div>
<% end %>



<!-- original nightjar image by https://www.sharpphotography.co.uk -->
