
<% if logged_in? %>
<div class="box hello">
Hello <%= @current_user.profile.username %>
<ul>
  <li><div class="inlineButton">
<%= link_to "Play slot machine", games_slots_path %></div></li>
<li><div class="inlineButton">
<%= render 'tictactoes/new' %></div></li>
</ul>
</div>
<% end %>
<div class="box cardsuits">

  <h3>Recently Updated Games</h3>
    <div class="minitic">

  <% @recent_tictactoes.each do |tic| %>

  <% @user_x = User.find_by(id: tic.x_id) %>
  <% @user_o = User.find_by(id: tic.o_id) %>
  <% @linktext = "Watch" %>
    <% if logged_in? %>
      <% if @current_user == @user_x || @current_user == @user_o %>
      <% @linktext = "Play" %>
      <% end %>
    <% end %>
    <div class="miniticContainer">
    <div class="miniticgrid">
      <% @grid.each do |coords| %>
        <div id="<%= coords %>_<%= tic.id %>">
          <% p tic.send("#{coords}") %>
          <% if tic.send("#{coords}") != nil %>
            <%= tic.send("#{coords}") %>
          <% end %>
        </div>
        <% end %>

  </div>
  <%= link_to tictacto_path(tic) do %>
  <%= @user_x.profile.username %> vs <%= @user_o.profile.username %>
  <br>
<%= @linktext %>
  <% end %>

    </div>


<% end %>


</div>

</div>

      <%= render "lobbychats/lobby" %>

<!-- original nightjar image by https://www.sharpphotography.co.uk -->
