
<div class="box hello">
<% if logged_in? %>

Hello <%= @current_user.profile.username %>
<ul>
  <li><div class="inlineButton">
<%= link_to "Play slot machine", games_slots_path %></div></li>
<li><div class="inlineButton">
<%= render 'tictactoes/new' %></div></li>
<li><div class="inlineButton">
<%= render 'tictactoes/new_choose' %></div></li>
</ul>

<% end %>
<p>Welcome to Crepuscular Games.</p>
<p>This is a Rails web app that uses ActionCable to display live game data for simple chat room games. I will be building on this site and adding more games and features in the future.</p>
<p>Please contact me at mwissig@gmail.com (or through Facebook, etc.) if you have any problems with the site or would like to know if your registration went through. I will also respond to the in-site chat.</p>
</div>
<% if logged_in? %>
<div class="box cardsuits">

  <h3>Your Games</h3>
  <div class="microtic">

<% @my_tictactoes.each do |tic| %>
<%= link_to tictacto_path(tic) do %>
<% @user_x = User.find_by(id: tic.x_id) %>
<% @user_o = User.find_by(id: tic.o_id) %>
<% if tic.turn == 'x' %>
  <% @turn = @user_x %>
<% elsif tic.turn == 'o' %>
 <% @turn = @user_o %>
 <% end %>
 <% if @turn == @current_user %>
  <div class="microticContainer yourturn">
    <% else %>
      <div class="microticContainer">
        <% end %>
  <div class="microticgrid">
    <% @grid.each do |coords| %>

<% if @turn == @current_user %>
<div class="yourturn">
      <% else %>
      <div>
        <% end %>
        <% if tic.send("#{coords}") != nil %>
          <%= tic.send("#{coords}") %>
        <% end %>
      </div>
      <% end %>

</div>

<span class="opponentname">
  <% if @user_x != @current_user %>
    <%= @user_x.profile.username %>
  <% elsif @user_o != @current_user %>
    <%= @user_o.profile.username %>
    <% end %>
    </span>
<br>
<% if @turn == @current_user %>
<span class="yourturn">Your turn</span>
<% else %>
<%= @turn.profile.username %> 's turn
<% end %>
<% end %>

      </div>
<% end %>
      </div>
      </div>
<% end %>

<div class="box cardsuits">

  <h3>Recently Updated Games</h3>
    <div class="minitic slide">

  <% @recent_tictactoes.each do |tic| %>

  <% @user_x = User.find_by(id: tic.x_id) %>
  <% @user_o = User.find_by(id: tic.o_id) %>
  <% @linktext = "Watch" %>
    <% if logged_in? %>
      <% if @current_user == @user_x || @current_user == @user_o %>
      <% @linktext = "Play" %>
      <% end %>
    <% end %>
    <div class="miniticContainer">
    <div class="miniticgrid">
      <% @grid.each do |coords| %>
        <div id="<%= coords %>_<%= tic.id %>">
          <% if tic.send("#{coords}") != nil %>
            <%= tic.send("#{coords}") %>
          <% end %>
        </div>
        <% end %>

  </div>
  <%= link_to tictacto_path(tic) do %>
  <%= @user_x.profile.username %> vs <%= @user_o.profile.username %>
  <br>
<%= @linktext %>
  <% end %>

    </div>


<% end %>


</div>
<div class='floatright'><%= link_to "More...", tictactoes_path %></div>
</div>




<!-- original nightjar image by https://www.sharpphotography.co.uk -->
