<div class="box">
      <% if logged_in? %>
  <div class="minecontainer" id="mapbox">


    <div class="minemap" id="minemap">
      <% @object = "empty" %>
        <% @coords.each do |coords| %>

          <% @c = coords.split("_") %>
            <% if @c[0].to_i <= 15 %>
              <% @type = "sky-background" %>

<% if @c[0].to_i <= 12 %>
              <% @nums = (1..20).to_a %>
                <% @rand = @nums.sample %>
                  <% if @rand == 1 %>
                      <% @type = "sky-background bgcloud" %>
                      <% end %>
                      <% end %>

                      <% if @c[0].to_i < 10 %>
                        <% @nums = (1..17).to_a %>
                          <% @rand = @nums.sample %>
                            <% if @rand == 3 %>
                                <% @object = "empty platform" %>
                                <% else %>
                                      <% @object = "empty" %>
                              <% end %>
                                <% end %>

              <% if @c[0].to_i == 15 %>
                <% @nums = (1..17).to_a %>
                  <% @rand = @nums.sample %>
                    <% if @rand == 3 %>
                        <% @object = "rock" %>
                      <% elsif @rand == 4 || @rand == 5 %>
                        <% @object = "wood" %>
                        <% else %>
                              <% @object = "empty" %>
                      <% end %>
                      <% end %>
                      <% else %>
                <% @type = "cave-background" %>



                  <% @nums = (1..17).to_a %>
                    <% @rand = @nums.sample %>
                      <% if @rand == 3 %>
                        <% @object = "rock" %>
                        <% else %>
                        <% if @c[0].to_i <= 30 %>
                          <% @object = "soil" %>
                          <% else %>
                          <% @object = "soil2" %>
                            <% end %>
                              <% end %>

                            <% if @c[0].to_i > 25 %>
                            <% @nums = (1..35).to_a %>
                              <% @rand = @nums.sample %>
                              <% if @rand == 1 %>
                                <% @object = "ironore" %>
                                    <% end %>
                                <% end %>

                                <% if @c[0].to_i > 30 %>
                                <% @nums = (1..50).to_a %>
                                  <% @rand = @nums.sample %>
                                  <% if @rand == 1 %>
                                    <% @object = "silverore" %>
                                        <% end %>
                                        <% end %>

                            <% if @c[0].to_i > 35 %>
                            <% @nums = (1..60).to_a %>
                              <% @rand = @nums.sample %>
                              <% if @rand == 1 %>
                                <% @object = "goldore" %>
                                    <% end %>
                                    <% end %>

                                    <% if @c[0].to_i >= 38 %>
                                    <% @nums = (1..200).to_a %>
                                      <% @rand = @nums.sample %>
                                      <% if @rand == 1 %>
                                        <% @object = "diamond" %>
                                            <% end %>
                                            <% end %>

                                            <% if @c[0].to_i == 40 %>

                                                <% @object = "unbreakable" %>

                                                    <% end %>


                          <% end %>

                          <div id="<%= coords %>_background" class="minesquare <%= @type %>">
                            <div id="<%= coords %>_foreground" class="<%= @object %>" onClick="select_box(this.id)"></div>
                          </div>
                        <% end %>

                        <% @activeplayers.each do |player| %>
                          <div id="player<%= player.user_id %>" class="player">

                              <%= player.user.profile.username %>
                              <br>
                              <span style="color:#<%= player.user.profile.color %>"> <i class="fas fa-walking mineicon"></i></span>
                          </div>
                        <% end %>



                      </div>

                    </div>

                    <div class="mineinventory">
                      <div title="Pickaxe"><%= image_tag('items/pickaxe_iron.png', title: 'Pickaxe' ) %><span id="pickaxetype"></span></div>
                      <div title="Ladders"><%= image_tag('mine/ladder.png', title: 'Ladders' ) %><span id="laddercount"></span> L</div>
                      <div  title="Planks" class="platformimg"><%= image_tag('mine/wood.png', title: 'Planks' )  %><span id="platformcount"></span>I / P</div>
                      <div title="Soil"><%= image_tag('mine/soil.png', title: 'Soil' )  %><span id="soilcount"></span> S</div>
                      <div title="Wood"><%= image_tag('mine/wood.png', title: 'Wood' )  %><span id="woodcount"></span> W</div>
                      <div title="Rock"><%= image_tag('mine/rock.png', title: 'Rock' )  %><span id="rockcount"></span> R</div>
                      <div title="Iron"><%= image_tag('mine/ore_iron.png', title: 'Iron' )  %><span id="ironorecount"></span></div>
                      <div title="Silver"><%= image_tag('mine/ore_silver.png', title: 'Silver' )  %><span id="silverorecount"></span></div>
                      <div title="Gold"><%= image_tag('mine/ore_gold.png', title: 'Gold' )  %><span id="goldorecount"></span></div>
                      <div title="Diamonds"><%= image_tag('mine/ore_diamond.png', title: 'Diamonds' )  %><span id="diamondcount"></span></div>
                    </div>
                    Arrow keys and space to mine<br>
                    Mouse and L I P S R W to place ladders, planks, soil, rock, wood
                    <div class="hidden">



                      character movement form

                      <%= form_tag('/mine/move/', method: 'get', :id => 'moveform', remote: true ) do %>
                      <%= text_field_tag :movedeltax %>
                      <%= text_field_tag :movedeltay %>
                      <%= text_field_tag :movecoords %>
                            <%= button_tag :submit do %>
                              Move
                            <% end %>
                            <% end %>
                            <br>

                      block placement form
                      <br>
                      block removal form
                    </div>
                    <% else %>
                    You must be logged in to play
                    <% end %>
                  </div>

      <% if logged_in? %>
                  <script>


                    var pickaxeName = "<%= @pickaxename %>";
                    var pickaxeLevel = <%= @pickaxelevel %>;
                    var deltaY = <%= @deltay %>;
                    var deltaX = <%= @deltax %>;
                    minemap.scrollTop = (1200 - deltaY) - (divHeight / 2);
                    minemap.scrollLeft = deltaX - (divWidth / 2);
                    var myLadders = 30;
                    var myPlatforms = 30;
                    var mySoil = 0;
                    var myWood = 0;
                    var myRocks = 0;
                    var myIronOre = 0;
                    var mySilverOre = 0;
                    var myGoldOre = 0;
                    var myDiamonds = 0;
                    var mapDiv = document.getElementById("mapbox");
                    var divWidth = mapDiv.offsetWidth;
                    var divHeight = mapDiv.offsetHeight;

                    var mycoords = (40 - Math.floor(deltaY / 30) + 1) + "_" + (
                      Math.floor(deltaX / 30) + 1
                    );
                    var foreground = document.getElementById(mycoords + '_foreground');
                    var background = document.getElementById(mycoords + '_background');
                    var object = foreground.classList.item(0);
                    var mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var doublebox = document.getElementById((40 - Math.floor(deltaY / 30) + 3) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var groundbox = document.getElementById((40 - Math.floor(deltaY / 30)) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var selected;
                    var moveSpeed = 200;

                    function movePlayer() {
                      var mycoords = (40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1);
                      var player = document.getElementById('player<%= @current_user.id %>');
                      var minemap = document.getElementById('minemap');
                      var coordbox = document.getElementById('coordbox');
                      var moveDeltaX = document.getElementById('movedeltax');
                      moveDeltaX.value = deltaX;
                      var moveDeltaY = document.getElementById('movedeltay');
                      moveDeltaY.value = deltaY;
                      var moveCoords = document.getElementById('movecoords');
                      moveCoords.value = mycoords;
                      player.style.bottom = deltaY + "px";
                      player.style.left = deltaX + "px";
                      minemap.scrollTop = (1200 - deltaY) - (divHeight / 2);
                      minemap.scrollLeft = deltaX - (divWidth / 2);

                      foreground = document.getElementById(mycoords + '_foreground');
                      background = document.getElementById(mycoords + '_background');
                      object = foreground.classList.item(0);
                      var form = document.getElementById('moveform')
                      Rails.fire(form, 'submit');

                    }

                    window.addEventListener("keydown", keysPressed, false);
                    window.addEventListener("keyup", keysReleased, false);

                    var keys = [];
                    var lastEnter = Date.now();


                    function keysPressed(e) {
                      // store an entry for every key pressed
                      keys[e.keyCode] = true;
                      var nextbox;

                      // left
                      if (keys[37]) {
                        mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + Math.floor(deltaX / 30) + '_foreground');
                        if (Date.now() - lastEnter > moveSpeed && deltaX > 15 && nextbox.classList.item(0) == "empty" && mybox.classList.item(1) != "wall" && mybox.classList.item(2) != "wall" ) {
                          deltaX -= 30;
                          lastEnter = Date.now();
                        }
                      }

                      // right
                      if (keys[39]) {
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 2) + '_foreground');
                        if (Date.now() - lastEnter > moveSpeed && deltaX < 8955 && nextbox.classList.item(0) == "empty" && nextbox.classList.item(1) != "wall" && nextbox.classList.item(2) != "wall" ) {
                          deltaX += 30;
                          lastEnter = Date.now();
                        }
                      }

                      // up
                      if (keys[38]) {
                        mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30)) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        doublebox = document.getElementById((40 - Math.floor(deltaY / 30) - 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        groundbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        if (Date.now() - lastEnter > moveSpeed && groundbox.classList.item(0) != "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder") {

                        if (deltaY < 1185 && nextbox.classList.item(0) == "empty" && doublebox.classList.item(0) == "empty" && groundbox.classList.item(0) != "empty" || mybox.classList.item(1) == "platform" || mybox.classList.item(2) == "platform" ) {
                          deltaY += 60;
                          lastEnter = Date.now();
                        }
                          else if (deltaY > 45 && nextbox.classList.item(0) == "empty" && groundbox.classList.item(0) != "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder" || mybox.classList.item(1) == "platform" || mybox.classList.item(2) == "platform" ) {
                            deltaY += 30;
                            lastEnter = Date.now();
                          }
                        }
                      }

                      // down
                      if (keys[40]) {
                      nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        if (Date.now() - lastEnter > moveSpeed && deltaY > 45 && nextbox.classList.item(0) == "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder") {
                          deltaY -= 30;
                          lastEnter = Date.now();
                        }
                      }

                      //space to dig
                      if (keys[32]){
                        if (Date.now() - lastEnter > moveSpeed && nextbox.classList.item(1) == "ladder") {
                          myLadders += 1;
                          nextbox.className = "empty"
                          lastEnter = Date.now();
                        }
                        if (Date.now() - lastEnter > moveSpeed && nextbox.classList.item(1) == "platform") {
                          myPlatforms += 1;
                          nextbox.className = "empty"
                          lastEnter = Date.now();
                        }
                        if (Date.now() - lastEnter > moveSpeed && nextbox.classList.item(1) == "wall") {
                          myPlatforms += 1;
                          nextbox.className = "empty"
                          lastEnter = Date.now();
                        }
                      if (Date.now() - lastEnter > moveSpeed && nextbox.className == "soil") {
                        mySoil += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      if (Date.now() - lastEnter > moveSpeed && nextbox.className == "soil2" && pickaxeLevel >= 1 ) {
                        nextbox.className = "soil"
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "wood") {
                        myWood += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "rock" && pickaxeLevel >= 1 ) {
                        myRocks += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "ironore" && pickaxeLevel >= 2 ) {
                        myIronOre += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "silverore" && pickaxeLevel >= 3 ) {
                        mySilverOre += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "goldore" && pickaxeLevel >= 3 ) {
                        myGoldOre += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }
                      else if (Date.now() - lastEnter > moveSpeed && nextbox.className == "diamond" && pickaxeLevel >= 4 ) {
                        myDiamonds += 1;
                        nextbox.className = "empty"
                        lastEnter = Date.now();
                      }

                          }

                          //l for ladder placement
                          if (keys[76]) {
                            if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && selected.classList.item(1) != "ladder" && selected.classList.item(2) != "ladder" && myLadders > 0) {
                              selected.classList.add("ladder");
                              myLadders -= 1
                              lastEnter = Date.now();
                            }
                          }

                          //p for platform placement
                          if (keys[80]) {
                            if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && selected.classList.item(1) != "platform" && selected.classList.item(2) != "platform" && myPlatforms > 0) {
                              selected.classList.add("platform");
                              myPlatforms -= 1
                              lastEnter = Date.now();
                            }
                          }

                          //i for vert plank placement
                          if (keys[73]) {
                            if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && selected.classList.item(1) != "wall" && selected.classList.item(2) != "wall" && myPlatforms > 0) {
                              selected.classList.add("wall");
                              myPlatforms -= 1
                              lastEnter = Date.now();
                            }
                          }


                    //s for soil placement
                    if (keys[83]) {
                      if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && mySoil > 0) {
                        selected.className = "soil";
                        mySoil -= 1
                        lastEnter = Date.now();
                      }
                    }

                    //w for wood placement
                    if (keys[87]) {
                      if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && myWood > 0) {
                        selected.className = "wood";
                        myWood -= 1
                        lastEnter = Date.now();
                      }
                    }

                    //r for rock placement
                    if (keys[82]) {
                      if (Date.now() - lastEnter > moveSpeed && selected.classList.item(0) == "empty" && myRocks > 0) {
                        selected.className = "rock";
                        myRocks -= 1
                        lastEnter = Date.now();
                      }
                    }

                      e.preventDefault();

                      movePlayer();
                    }

                    function keysReleased(e) {
                      // mark keys that were released
                      keys[e.keyCode] = false;
                    }

window.setInterval( function(){
  divWidth = mapDiv.offsetWidth;
  divHeight = mapDiv.offsetHeight;
  var myItems = document.getElementById('myItems');
  document.getElementById('pickaxetype').innerHTML = pickaxeName;
  document.getElementById('laddercount').innerHTML = myLadders;
  document.getElementById('platformcount').innerHTML = myPlatforms;
  document.getElementById('soilcount').innerHTML = mySoil;
  document.getElementById('woodcount').innerHTML = myWood;
  document.getElementById('rockcount').innerHTML = myRocks;
  document.getElementById('ironorecount').innerHTML = myIronOre;
  document.getElementById('silverorecount').innerHTML = mySilverOre;
  document.getElementById('goldorecount').innerHTML = myGoldOre;
  document.getElementById('diamondcount').innerHTML = myDiamonds;
  var gnextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
  mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
  if (deltaY > 45 && gnextbox.classList.item(0) == "empty" && mybox.classList.item(1) != "ladder" && mybox.classList.item(2) != "ladder" && gnextbox.classList.item(1) != "ladder" && gnextbox.classList.item(2) != "ladder" && gnextbox.classList.item(1) != "platform" && gnextbox.classList.item(2) != "platform") {

    deltaY -= 30;
    movePlayer();
  }
}
  ,500)

  function select_box(id)
{
    console.log(id);
    selected = document.getElementById(id);
     selected.classList.add('highlight');
    setTimeout(function(){ selected.classList.remove('highlight') }, 500);
}


                  </script>
                            <% end %>
