<div class="box">
  <div class="minecontainer">

    <div class="minemap">
      <% @object = "empty" %>
        <% @coords.each do |coords| %>

          <% @c = coords.split("_") %>
            <% if @c[0].to_i <= 15 %>
              <% @type = "sky-background" %>

<% if @c[0].to_i <= 12 %>
              <% @nums = (1..20).to_a %>
                <% @rand = @nums.sample %>
                  <% if @rand == 1 %>
                      <% @type = "sky-background bgcloud" %>
                      <% end %>
                      <% end %>

              <% if @c[0].to_i == 15 %>
                <% @nums = (1..17).to_a %>
                  <% @rand = @nums.sample %>
                    <% if @rand == 3 %>
                        <% @object = "rock" %>
                      <% elsif @rand == 4 %>
                        <% @object = "wood" %>
                      <% end %>
                      <% end %>
                      <% else %>
                <% @type = "cave-background" %>



                  <% @nums = (1..17).to_a %>
                    <% @rand = @nums.sample %>
                      <% if @rand == 3 %>
                        <% @object = "rock" %>
                        <% else %>
                        <% if @c[0].to_i <= 30 %>
                          <% @object = "soil" %>
                          <% else %>
                          <% @object = "soil2" %>
                            <% end %>
                              <% end %>

                            <% if @c[0].to_i > 25 %>
                            <% @nums = (1..35).to_a %>
                              <% @rand = @nums.sample %>
                              <% if @rand == 1 %>
                                <% @object = "ironore" %>
                                    <% end %>
                                <% end %>

                                <% if @c[0].to_i > 30 %>
                                <% @nums = (1..50).to_a %>
                                  <% @rand = @nums.sample %>
                                  <% if @rand == 1 %>
                                    <% @object = "silverore" %>
                                        <% end %>
                                        <% end %>

                            <% if @c[0].to_i > 35 %>
                            <% @nums = (1..60).to_a %>
                              <% @rand = @nums.sample %>
                              <% if @rand == 1 %>
                                <% @object = "goldore" %>
                                    <% end %>
                                    <% end %>

                                    <% if @c[0].to_i > 38 %>
                                    <% @nums = (1..200).to_a %>
                                      <% @rand = @nums.sample %>
                                      <% if @rand == 1 %>
                                        <% @object = "diamond" %>
                                            <% end %>
                                            <% end %>

                                            <% if @c[0].to_i == 40 %>

                                                <% @object = "unbreakable" %>

                                                    <% end %>


                          <% end %>

                          <div id="<%= coords %>_background" class="minesquare <%= @type %>">
                            <div id="<%= coords %>_foreground" class="<%= @object %>" onClick="select_box(this.id)"></div>
                          </div>
                        <% end %>

                        <div id="player" class="player">
<% if logged_in? %>
<%= @current_user.profile.username %>
<script>
var player_name = "<%= @current_user.profile.username %>"
</script>
<% if @current_user.items.exists?(name: "Diamond Pickaxe") %>
<script>
var pickaxeName = "Diamond Pickaxe";
var pickaxeLevel = 4;
</script>
<% elsif @current_user.items.exists?(name: "Titanium Pickaxe") %>
<script>
var pickaxeName = "Titanium Pickaxe";
var pickaxeLevel = 3;
</script>
<% elsif @current_user.items.exists?(name: "Steel Pickaxe") %>
<script>
var pickaxeName = "Steel Pickaxe";
var pickaxeLevel = 2;
</script>
<% elsif @current_user.items.exists?(name: "Iron Pickaxe") %>
<script>
var pickaxeName = "Iron Pickaxe";
var pickaxeLevel = 1;
</script>
<%else %>
<script>
var pickaxeName = "Bare hands";
var pickaxeLevel = 0;
</script>
<% end %>
  <% @playercolor = @current_user.profile.color %>
<% else %>
                          Player
                          <script>
                          var player_name = "Player";
                          var pickaxeName = "Bare hands";
                          var pickaxeLevel = 0;
                          </script>
                          <% @playercolor = '000000' %>
<% end %>
                          <br>
                          <span style="color:#<%= @playercolor %>"> <i class="fas fa-walking mineicon"></i></span>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" id="coordbox">
                    <input type="text" id="myItems"><br>
                    Arrow keys and space to mine<br>
                    Mouse and L S R W to place ladders, soil, rock, wood
                  </div>

                  <script>

                    console.log(player_name);


                    var deltaY = 785;
                    var deltaX = 275;
                    var myLadders = 20;
                    var mySoil = 0;
                    var myWood = 0;
                    var myRocks = 0;
                    var myIronOre = 0;
                    var mySilverOre = 0;
                    var myGoldOre = 0;
                    var myDiamonds = 0;

                    var mycoords = (40 - Math.floor(deltaY / 30) + 1) + "_" + (
                      Math.floor(deltaX / 30) + 1
                    );
                    var foreground = document.getElementById(mycoords + '_foreground');
                    var background = document.getElementById(mycoords + '_background');
                    var object = foreground.classList.item(0);
                    var mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var doublebox = document.getElementById((40 - Math.floor(deltaY / 30) + 3) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var groundbox = document.getElementById((40 - Math.floor(deltaY / 30)) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                    var selected;

                    function movePlayer() {
                      var player = document.getElementById('player');
                      var minemap = document.getElementById('minemap');
                      var coordbox = document.getElementById('coordbox');
                      player.style.bottom = deltaY + "px";
                      player.style.left = deltaX + "px";
                      player.scrollIntoView({behavior: "smooth", block: 'start'});
                      var mycoords = (40 - Math.floor(deltaY / 30) + 1) + "_" + (
                        Math.floor(deltaX / 30) + 1
                      );
                      foreground = document.getElementById(mycoords + '_foreground');
                      background = document.getElementById(mycoords + '_background');
                      object = foreground.classList.item(0);
                      coordbox.value = mycoords + " " + object;

                    }

                    window.addEventListener("keydown", keysPressed, false);
                    window.addEventListener("keyup", keysReleased, false);

                    var keys = [];

                    function keysPressed(e) {
                      // store an entry for every key pressed
                      keys[e.keyCode] = true;
                      var nextbox;
                      // left
                      if (keys[37]) {
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + Math.floor(deltaX / 30) + '_foreground');
                        if (deltaX > 15 && nextbox.classList.item(0) == "empty") {
                          deltaX -= 30;
                        }
                      }

                      // right
                      if (keys[39]) {
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 2) + '_foreground');
                        if (deltaX < 8955 && nextbox.classList.item(0) == "empty") {
                          deltaX += 30;
                        }
                      }

                      // up
                      if (keys[38]) {
                        mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30)) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        doublebox = document.getElementById((40 - Math.floor(deltaY / 30) - 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        groundbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        if (groundbox.classList.item(0) != "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder") {

                        if (deltaY < 1185 && nextbox.classList.item(0) == "empty" && doublebox.classList.item(0) == "empty" && groundbox.classList.item(0) != "empty") {
                          deltaY += 60;
                        }
                          else if (deltaY > 45 && nextbox.classList.item(0) == "empty" && groundbox.classList.item(0) != "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder") {
                            deltaY += 30;
                          }
                        }
                      }

                      // down
                      if (keys[40]) {
                        nextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
                        if (deltaY > 45 && nextbox.classList.item(0) == "empty" || mybox.classList.item(1) == "ladder" || mybox.classList.item(2) == "ladder") {
                          deltaY -= 30;
                        }
                      }

                      //space to dig
                      if (keys[32]){
                        if (nextbox.className == "ladder") {
                          myLadders += 1;
                          nextbox.className = "empty"
                        }
                      if (nextbox.className == "soil") {
                        mySoil += 1;
                        nextbox.className = "empty"
                      }
                      if (nextbox.className == "soil2" && pickaxeLevel >= 1 ) {
                        nextbox.className = "soil"
                      }
                      else if (nextbox.className == "wood") {
                        myWood += 1;
                        nextbox.className = "empty"
                      }
                      else if (nextbox.className == "rock" && pickaxeLevel >= 1 ) {
                        myRocks += 1;
                        nextbox.className = "empty"
                      }
                      else if (nextbox.className == "ironore" && pickaxeLevel >= 2 ) {
                        myIronOre += 1;
                        nextbox.className = "empty"
                      }
                      else if (nextbox.className == "silverore" && pickaxeLevel >= 3 ) {
                        mySilverOre += 1;
                        nextbox.className = "empty"
                      }
                      else if (nextbox.className == "goldore" && pickaxeLevel >= 3 ) {
                        myGoldOre += 1;
                        nextbox.className = "empty"
                      }
                      else if (nextbox.className == "diamond" && pickaxeLevel >= 4 ) {
                        myDiamonds += 1;
                        nextbox.className = "empty"
                      }

                          }

                          //l for ladder placement
                          if (keys[76]) {
                            if (selected.classList.item(0) == "empty" && selected.classList.item(1) != "ladder" && selected.classList.item(2) != "ladder" && myLadders > 0) {
                              selected.classList.add("ladder");
                              myLadders -= 1
                            }
                          }

                    //s for soil placement
                    if (keys[83]) {
                      if (selected.classList.item(0) == "empty" && mySoil > 0) {
                        selected.className = "soil";
                        mySoil -= 1
                      }
                    }

                    //w for wood placement
                    if (keys[87]) {
                      if (selected.classList.item(0) == "empty" && myWood > 0) {
                        selected.className = "wood";
                        myWood -= 1
                      }
                    }

                    //r for rock placement
                    if (keys[82]) {
                      if (selected.classList.item(0) == "empty" && myRocks > 0) {
                        selected.className = "rock";
                        myRocks -= 1
                      }
                    }

                      e.preventDefault();

                      movePlayer();
                    }

                    function keysReleased(e) {
                      // mark keys that were released
                      keys[e.keyCode] = false;
                    }

var gravTimer;

window.setInterval( function(){
  var myItems = document.getElementById('myItems');
  myItems.value = "Pickaxe: " + pickaxeName + ", " + myLadders + " ladders, " + mySoil + " soil, " + myWood + " wood, " + myRocks + " rocks, " + myIronOre + " iron ore, " + mySilverOre + " silver ore, " + myGoldOre + " gold ore, " + myDiamonds + " diamonds";
  var gnextbox = document.getElementById((40 - Math.floor(deltaY / 30) + 2) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
  mybox = document.getElementById((40 - Math.floor(deltaY / 30) + 1) + "_" + (Math.floor(deltaX / 30) + 1) + '_foreground');
  if (deltaY > 45 && gnextbox.classList.item(0) == "empty" && mybox.classList.item(1) != "ladder" && mybox.classList.item(2) != "ladder") {

    deltaY -= 30;
    movePlayer();
  }
}
  ,500)

  function select_box(id)
{
    console.log(id);
    selected = document.getElementById(id);
     selected.classList.add('highlight');
    setTimeout(function(){ selected.classList.remove('highlight') }, 500);
}


                  </script>
