<% if logged_in? %>
<div class="box" id="slotmachine">
  <h2>Slot machine</h2>
  <div id="slotreel">
<%= flash[:slots].html_safe unless flash[:slots].blank? %>
</div>
<%= form_tag('/games/slots2', method: 'get') do %>
<%= button_tag :submit do %>
    Bet 10 <span class="points"><i class="fas fa-coins big"></i></span>
<% end %>
<% end %>
You have <span class="points"><%= @current_user.points %> <i class="fas fa-coins"></i></span>
</div>
      <%= render "lobbychats/lobby" %>
<% end %>
