<header><ul><li><h1 class="headertext">Crepuscular Games</h1></li>
  <li><%= link_to "home", root_path %></li>
  <% if logged_in? %>
   <li><%= link_to "games", games_path %></li>
  <li><%= link_to logout_path, method: :delete do %>
        log out
 <% end %>
</li>
 <li><%= link_to "profile", user_path(@current_user) %></li>
 <li><%= link_to shop_path do %>
   shop <span class="points"><%= @current_user.points %> <i class="fas fa-coins"></i></span>
    <% end %>
 </li>
 <% else %>
 <li><%= link_to "log in", login_path %></li>
<li><%= link_to "sign up", register_path %></li>
 <% end %>
 </ul>
</header>
