<div class="<%= @location %>-container">
<% @items.each do |item| %>
<div class="<%= @location %>_item">
  <h3><%= item.name %></h3>

  <% if item.category == "weapons" %>
      ATK: <%= item.integer1 %><br>
    <% elsif item.category == "food" %>
      <%= item.integer1 %> food<br>
    <% elsif @location == "inventory" && item.name == "Automatic Pet Feeder" %>
     <%= item.integer1 %> food<br>
    <% elsif item.category == "pets" && item.name != "Egg" %>
      <% if item.integer1 <= item.integer2/2 %>
        Hungry
  <% @hunger = "hungry" %>
    <% elsif item.integer1 == item.integer2 %>
      Full
    <% elsif item.integer1 > item.integer2 %>
      Stuffed
    <% else %>
    <% @hunger = "hungry" %>
      Peckish
    <% end %>
        (<%= item.integer1 %>/<%= item.integer2 %>)<br>
  <% end %>
    <% if @location == "inventory" && item.name == "Automatic Pet Feeder" %>

      <% @allpets = @items.where(category: "pets").where.not(name: "Egg") %>
      <% @hungrypets = [] %>
      <% @allpets.each do |pet| %>
        <% if pet.integer1 < pet.integer2 %>
          <% @hungrypets << pet %>
        <% end %>
      <% end %>

        <% if @hungrypets.count <= item.integer1 %>
          <%= image_tag("items/#{item.string2}", title: item.description ) %><br>
        <% else %>
        <%= image_tag("items/#{item.string1}", title: item.description ) %><br>
        <% end %>


    <% else %>
  <%= image_tag("items/#{item.image}", title: item.description ) %><br>
  <% end %>

    <% if logged_in? && @location == "shop" %>
      <%= form_tag('/shop/buy/', method: 'get' ) do %>
      <%= hidden_field_tag :name, item.name %>
            <%= button_tag :submit do %>
              Buy for <%= item.shop_price %>  <i class='fas fa-coins gold'></i>
            <% end %>
      <% end %>

      <% if @current_user.items.exists?(name: item.name) %>
      <%= form_tag('/shop/sell/', method: 'get' ) do %>
      <%= hidden_field_tag :name, item.name %>
            <%= button_tag :submit do %>
              Sell for <%= item.sellback_price %>  <i class='fas fa-coins gold'></i>
            <% end %>
      <% end %>
      <% end %>

    <% end %>

    <% if logged_in? && @user == @current_user && @location == "inventory" && item.category == "pets" && item.name != "Egg" && @hunger == "hungry" && @food.first != nil %>
      <%= form_tag('/feed/', method: 'get' ) do %>
      <%= hidden_field_tag :pet, item.id %>
      <%= select_tag "food", options_from_collection_for_select(@food, "id", "name") %>
      <%= button_tag :submit do %>
        Feed
      <% end %>
    <% end %>
    <% end %>

    <% if logged_in? && @user == @current_user && @location == "inventory" && item.category == "waste" %>
      <%= form_tag('/dispose/', method: 'get' ) do %>
      <%= hidden_field_tag :item, item.id %>
      <%= button_tag :submit do %>
        Clean
      <% end %>
    <% end %>
    <% end %>


    <% if logged_in? && @user == @current_user && @location == "inventory" && item.name == "Automatic Pet Feeder" %>
      <% if @food.first != nil %>
        <%= form_tag('/fill_feeder/', method: 'get' ) do %>
        <%= hidden_field_tag :feeder, item.id %>
        <%= select_tag "food", options_from_collection_for_select(@food, "id", "name") %>
          <%= button_tag :submit do %>
            Fill
          <% end %>
        <% end %>
      <% end %>
    <% end %>

</div>
<% end %>
</div>
